.bg-index {
    background-image: url("/static/images/pic3.png");
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0px 0px 0px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0.7;
    filter: blur(2px);
}

.barbox {
    box-shadow: 5px 5px 20px;
}

.h2 {
    text-align: center;
}

.center-box {
    background-color: rgba(233, 229, 227, 0.671);
    color: rgb(48, 46, 46);
    font-weight: bold;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 5px 8px 17px;
}
