{% extends 'base.html' %}

{% block content %}
<div class="center-box">
    <div class="container-sm">
        {% if bmi_out %}
        <p>Your BMI is {{bmi_out}}
        <p>Body type : {{body_out}}</p>
        </p>
        <p>You have to gain {{bmr_out}} calories per day</p>
        {% endif %}
        <hr>
        <div class="container-sm">
            <form action="/meal" method="POST">
                <div class="form-outline">
                    <input type="number" name="meal" id="meal" class="form-control" value="{{tmp[0]}}" required/>
                    <label class="form-label" for="typeText">Meals per day</label>
                </div>
            <br>
                <div class="form-outline">
                    <input type="number" name="cal" id="cal" class="form-control" value="{{tmp[1]}}" required/>
                    <label class="form-label" for="typeText">Calories limit per day</label>
                </div>
            <br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="select1" value="Rice" {% if 'Rice' in tmp[2] %} checked {% else %} {% endif %} {% if menu == "" %} required {% endif %}>
                <label class="form-check-label" for="inlineCheckbox1">Rice(ข้าว)</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="select2" value="Sen" {% if 'Sen' in tmp[2] %} checked {% else %} {% endif %}>
                <label class="form-check-label" for="inlineCheckbox2">Noodle(เส้น)</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="select3" value="yum" {% if 'yum' in tmp[2] %} checked {% else %} {% endif %}>
                <label class="form-check-label" for="inlineCheckbox3">Yum(ยำ)</label>
                </div>
            <br>
            <br>
                <input class="btn btn-success btn-rounded" type="submit" value="!RANDOM!">
            </form>
        </div>
        <hr>
        {% if menu_out %}
        {% for menu in menu_out[0] %}
        <p>{{menu[0]}} {{menu[1]}} calories</p>
        {% endfor %}
        <p>Total calories : {{menu_out[1]}}</p>
        {% endif %}
        <a href="{{url_for('views.index')}}" class="btn btn-danger btn-rounded">Back to Cal</a>
    </div>
</div>
{% endblock %}
